/* CSS Reset */
*{
    margin:0;
    padding:0;
}
/*CSS Variables */
 :root{
    --navbar-height: 50px;

 }
 /*Navigation bar*/
 #navbar{
    display: flex;
    align-items:center;
 }

 /* Navigation bar: Logo and Image */
 
#logo{
margin:5px 10px;
}

#logo img{
height:40px;
margin: 20px 10px;
margin-right: 800px;
}

#navbar ul{
   display: flex;
}

#navbar ul li{
   /* color: blue;*/
    list-style: none;
    font-size: 1rem;
}

#navbar ul li a{    
     color: yellowgreen; 
     list-style: none;
    font-size:1rem;
   }

#navbar ul li a{
    display: black;
    padding: 2px 6px;
    border-radius: 10px;
    text-decoration: none;
}
